<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ffcs.buffet.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="cn.ffcs.buffet.model.po.OrderPO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="address_id" jdbcType="INTEGER" property="addressId" />
    <result column="total_money" jdbcType="DECIMAL" property="totalMoney" />
    <result column="order_type" jdbcType="CHAR" property="orderType" />
    <result column="order_status" jdbcType="CHAR" property="orderStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="change_time" jdbcType="TIMESTAMP" property="changeTime" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="modifier" jdbcType="INTEGER" property="modifier" />
    <result column="status" jdbcType="CHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, user_id, address_id, total_money, order_type, order_status, create_time, 
    change_time, creator, modifier, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="getTotalNumber" resultType="java.lang.Integer">
    select
    count(*)
    from t_order
    where order_status &lt;&gt; ${@cn.ffcs.buffet.common.util.Constant$Order_STATUS@cancel.getIndex()}
  </select>
  <select id="getTotalMoney" resultType="java.math.BigDecimal">
    select
    sum(total_money)
    from t_order
    where order_status &lt;&gt; ${@cn.ffcs.buffet.common.util.Constant$Order_STATUS@cancel.getIndex()}
  </select>
  <select id="listOrder" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_order
    where 1=1
    <if test="userId != null">
      and user_id = #{userId,jdbcType=INTEGER}
    </if>
    <if test="orderStatus != null">
      and order_status = #{orderStatus,jdbcType=CHAR}
    </if>
    <if test="orderStatus != null">
      and order_id = #{orderId,jdbcType=VARCHAR}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.ffcs.buffet.model.po.OrderPO">
    insert into t_order (id, order_id, user_id, 
      address_id, total_money, order_type, 
      order_status, create_time, change_time, 
      creator, modifier, status
      )
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{addressId,jdbcType=INTEGER}, #{totalMoney,jdbcType=DECIMAL}, #{orderType,jdbcType=CHAR}, 
      #{orderStatus,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{changeTime,jdbcType=TIMESTAMP}, 
      #{creator,jdbcType=INTEGER}, #{modifier,jdbcType=INTEGER}, #{status,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.ffcs.buffet.model.po.OrderPO">
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="addressId != null">
        address_id,
      </if>
      <if test="totalMoney != null">
        total_money,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="changeTime != null">
        change_time,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="addressId != null">
        #{addressId,jdbcType=INTEGER},
      </if>
      <if test="totalMoney != null">
        #{totalMoney,jdbcType=DECIMAL},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=CHAR},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="changeTime != null">
        #{changeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.ffcs.buffet.model.po.OrderPO">
    update t_order
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="addressId != null">
        address_id = #{addressId,jdbcType=INTEGER},
      </if>
      <if test="totalMoney != null">
        total_money = #{totalMoney,jdbcType=DECIMAL},
      </if>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=CHAR},
      </if>
      <if test="orderStatus != null">
        order_status = #{orderStatus,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="changeTime != null">
        change_time = #{changeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.ffcs.buffet.model.po.OrderPO">
    update t_order
    set order_id = #{orderId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      address_id = #{addressId,jdbcType=INTEGER},
      total_money = #{totalMoney,jdbcType=DECIMAL},
      order_type = #{orderType,jdbcType=CHAR},
      order_status = #{orderStatus,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      change_time = #{changeTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=INTEGER},
      modifier = #{modifier,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="deleteOrderByOrderId">
    update t_order
    set status = ${@cn.ffcs.buffet.common.util.Constant@DATA_DELETE}
    <where>
      id in
      <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
        #{item}
      </foreach>
    </where>
  </update>
  <update id="updateOrderByIdList">
    update t_order
    set order_status = #{orderStatus,jdbcType=CHAR}
    <where>
      id in
      <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
        #{item}
      </foreach>
    </where>
  </update>
</mapper>