<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ffcs.buffet.mapper.ProductPOMapper" >
  <resultMap id="BaseResultMap" type="cn.ffcs.buffet.model.po.ProductPO" >
    <id column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="product_desc" property="productDesc" jdbcType="VARCHAR" />
    <result column="product_category_id" property="productCategoryId" jdbcType="INTEGER" />
    <result column="product_picture_path" property="productPicturePath" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="ProductDTOResultMap" type="cn.ffcs.buffet.model.dto.ProductDTO">
    <id column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="product_desc" property="productDesc" jdbcType="VARCHAR" />
    <result column="product_category_id" property="productCategoryId" jdbcType="INTEGER" />
    <result column="product_picture_path" property="productPicturePath" jdbcType="VARCHAR" />
    <collection property="productSpecificationDTOList"
                column="product_id"
                ofType="cn.ffcs.buffet.model.dto.ProductSpecificationDTO"
                select="cn.ffcs.buffet.mapper.ProductSpecificationPOMapper.selectSpecificationByProductId">
    </collection>
  </resultMap>

  <resultMap id="ProductDTOResultMap1" type="cn.ffcs.buffet.model.dto.ProductDTO">
    <id column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="product_desc" property="productDesc" jdbcType="VARCHAR" />
    <result column="product_category_id" property="productCategoryId" jdbcType="INTEGER" />
    <result column="product_picture_path" property="productPicturePath" jdbcType="VARCHAR" />
    <collection property="productSpecificationDTOList"
                column="product_id"
                ofType="cn.ffcs.buffet.model.dto.ProductSpecificationDTO"
                select="cn.ffcs.buffet.mapper.ProductSpecificationPOMapper.selectSpecificationByProductId">
    </collection>
    <collection property="commentList"
                column="product_id"
                ofType="cn.ffcs.buffet.model.po.Comment"
                select="cn.ffcs.buffet.mapper.CommentMapper.selectCommentByProductId">
    </collection>
  </resultMap>

  <sql id="Base_Column_List" >
    product_id, product_name, product_desc, product_category_id, product_picture_path, create_by, create_time,
    update_by, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from product
    where product_id = #{productId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product
    where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.ffcs.buffet.model.po.ProductPO" >
    insert into product (product_id, product_name, product_desc,
      product_category_id, product_picture_path, create_by, create_time,
      update_by, update_time)
    values (#{productId,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, #{productDesc,jdbcType=VARCHAR},
      #{productCategoryId,jdbcType=INTEGER}, #{productPicturePath, jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.ffcs.buffet.model.po.ProductPO" >
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        product_id,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="productDesc != null" >
        product_desc,
      </if>
      <if test="productCategoryId != null" >
        product_category_id,
      </if>
      <if test="productPicturePath != null">
        product_picture_path,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productDesc != null" >
        #{productDesc,jdbcType=VARCHAR},
      </if>
      <if test="productCategoryId != null" >
        #{productCategoryId,jdbcType=INTEGER},
      </if>
      <if test="productPicturePath != null" >
        #{productPicturePath,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.ffcs.buffet.model.po.ProductPO" >
    update product
    <set >
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productDesc != null" >
        product_desc = #{productDesc,jdbcType=VARCHAR},
      </if>
      <if test="productCategoryId != null" >
        product_category_id = #{productCategoryId,jdbcType=INTEGER},
      </if>
      <if test="productPicturePath != null">
        product_picture_path = #{productPicturePath, jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.ffcs.buffet.model.po.ProductPO" >
    update product
    set product_name = #{productName,jdbcType=VARCHAR},
      product_desc = #{productDesc,jdbcType=VARCHAR},
      product_category_id = #{productCategoryId,jdbcType=INTEGER},
      product_picture_path = #{productPicturePath,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where product_id = #{productId,jdbcType=INTEGER}
  </update>

  <select id="selectProductByProductCategoryId" resultMap="ProductDTOResultMap" parameterType="INTEGER">
    select a.product_id, a.product_name, a.product_desc, a.product_category_id, a.product_picture_path,
    max(b.product_price) as max_price, min(b.product_price) as min_price, sum(b.product_storage) as product_storage,
    count(b.product_specification_id) as specification_number
    from product a, product_specification b
    where a.product_category_id = #{productCategoryId, jdbcType=INTEGER} and a.product_id = b.product_id
    group by a.product_id
  </select>

  <select id="selectProductByProductName" resultMap="ProductDTOResultMap" parameterType="String">
    select a.product_id, a.product_name, a.product_desc, a.product_category_id, a.product_picture_path,
    max(b.product_price) as max_price, min(b.product_price) as min_price, sum(b.product_storage) as product_storage,
    count(b.product_specification_id) as specification_number
    from product a, product_specification b
    where a.product_id = b.product_id
    <if test="productName != null and productName != ''">
      and a.product_Name like concat('%', #{productName, jdbcType=VARCHAR}, '%')
    </if>
    group by a.product_id
  </select>

  <select id="selectAllProductList" resultMap="ProductDTOResultMap">
    select a.product_id, a.product_name, a.product_desc, a.product_category_id, a.product_picture_path,
    max(b.product_price) as max_price, min(b.product_price) as min_price, sum(b.product_storage) as product_storage,
    count(b.product_specification_id) as specification_number
    from product a, product_specification b
    where a.product_id = b.product_id
    group by a.product_id
  </select>

  <select id="selectProductDetailAndCommentList" resultMap="ProductDTOResultMap1" parameterType="INTEGER">
    select a.product_id, a.product_name, a.product_desc, a.product_category_id, a.product_picture_path,
    max(b.product_price) as max_price, min(b.product_price) as min_price, sum(b.product_storage) as product_storage,
    count(b.product_specification_id) as specification_number
    from product a, product_specification b
    where a.product_id = b.product_id and a.product_id = #{productId, jdbcType=INTEGER}
    group by a.product_id
  </select>
</mapper>